# Django project
ENVIRONMENT=
PROJECT_NAME=
SECRET_KEY=
DEBUG=
PROD=
MEDIA_PATH=
MEDIA_URL=
STATIC_PATH=
STATIC_URL=

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Nginx
NGINX_OUTER_PORT=
NGINX_INNER_PORT=

# WSGI
WSGI_PORT=

# JWT
ACCESS_TOKEN_LIFETIME=
REFRESH_TOKEN_LIFETIME=

# Docker Compose Specific
NGINX_VERSION=
POSTGRES_VERSION=
WSGI_TARGET=
